.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
   
}
body {
  padding: 0;
  margin: 0;
  background-color: rgb(238, 236, 233);
}
.board {
  width: 500px;
  height: 500px;
  background-color: rgb(220, 217, 222);
  border: 1px solid rgb(95, 91, 96);
  display: flex;
  flex-direction: column; 
  border-radius: 10px;
}
.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
}
.square {
  flex: 33%;
  height: 100%;
  border: 1px solid black;
  cursor: pointer;
  display: grid;
  place-items: center; 
  color: black;
  border-radius: 10px; 
}
.square:active {
  background-color: rgb(144, 144, 132);
}